@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="flex items-center space-x-6">
@if (SignInManager.IsSignedIn(User))
{
   
        <a  class="text-sm font-medium text-white hover:text-gray-100" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    
    
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="text-sm font-medium text-white hover:text-gray-100">Logout</button>
        </form>
    
}
else
{
    
      
   
    
        <a class="text-sm font-medium text-white hover:text-gray-100" asp-area="Identity" asp-page="/Account/Login">Sign in</a>

      @*<a class="text-sm font-medium text-white hover:text-gray-100" asp-area="Identity" asp-page="/Account/Register">Create an account</a>*@
}
</div>


 
             @* <a href="#" class="text-sm font-medium text-white hover:text-gray-100">Sign in</a>

              <a href="#" class="text-sm font-medium text-white hover:text-gray-100"></a>
            *@