@model RsvpViewModel
@{
    ViewData["Title"] = "_rsvpSection";
}

<!-- Hero -->
<div id="div41" class="relative overflow-hidden  before:absolute before:top-0 before:start-1/2 before:bg-[url('/Images/abstract1flip.jpg')] before:bg-no-repeat before:bg-top before:bg-cover before:w-full before:h-full before:-z-[1] before:transform before:-translate-x-1/2 dark:before:bg-[url('/Images/abstract1flip.jpg')]">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 sm:py-24">
    <div class="text-center">
      <h1 class="text-4xl sm:text-6xl font-bold text-gray-800 dark:text-gray-200" style="font-family: 'Hedvig Letters Serif', serif;">
        RSVP
      </h1>

      <p class="mt-3 text-gray-600 dark:text-gray-400">
       Kindly fill in your details.
      </p>

      <button type="button" id="rsvpbtn" style="background-color:#854d0e;" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white  rounded-lg focus:ring-4 focus:ring-yellow-600 dark:focus:ring-yellow-900 hover:bg-yellow-800">
              Make Rsvp
          </button>

      <div id="rsvpmenu" class="hidden pl-4 mt-7 sm:mt-12 mx-auto max-w-xl relative">
        <!-- Form -->
       @*  <form asp-controller="Reservations" asp-action="Create" method="post">
       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
              <div class="w-full">
                  <label asp-for="FirstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                  <input asp-for="FirstName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type first name" required="">
             <span asp-validation-for="FirstName" class="text-danger"></span>
              </div>
              <div class="w-full">
                  <label asp-for="LastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                  <input asp-for="LastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type last name" required="">
              <span asp-validation-for="FirstName" class="text-danger"></span>
              </div>
           
              <div class="w-full">
                  <label asp-for="PhoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                  <input asp-for="PhoneNumber" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Phone number" required="">
              <span asp-validation-for="PhoneNumber" class="text-danger"></span>
              </div>
             
              
              
          </div>
          <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-indigo-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
              Confirm
          </button>
        </form>
        <!-- End Form -->*@

         <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc4icEbOWB63OaACH6pxZCkXM62rxcupKCHFJVt5u2zuOUTRQ/viewform?embedded=true" width="350" height="625" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        <!-- End SVG Element -->
      </div>

      
    </div>
  </div>
</div>
<!-- End Hero -->




<!-- Hero -->
<div id="div42" class="relative overflow-hidden  before:absolute before:top-0 before:start-1/2 before:bg-[url('/Images/Abstract-Edited.jpg')] before:bg-no-repeat before:bg-top before:bg-cover before:w-full before:h-full before:-z-[1] before:transform before:-translate-x-1/2 dark:before:bg-[url('/Images/Abstract-Edited.jpg')]">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 sm:py-24">
    <div class="text-center">
      <h1 class="text-4xl sm:text-6xl font-bold text-gray-800 dark:text-gray-200" style="font-family: 'Hedvig Letters Serif', serif;">
        RSVP
      </h1>

      <p class="mt-3 text-gray-600 dark:text-gray-400">
       Kindly fill in your details.
      </p>
      <button type="button" id="rsvpbtn1" style="background-color:#854d0e;" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white  rounded-lg focus:ring-4 focus:ring-yellow-600 dark:focus:ring-yellow-900 hover:bg-yellow-800">
              Make Rsvp
          </button>

      <div id="rsvpmenu1" class="hidden mt-7 sm:mt-12 mx-auto max-w-xl relative">
        <!-- Form -->
     @*    <form asp-controller="Reservations" asp-action="Create" method="post">
       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
              <div class="w-full">
                  <label asp-for="FirstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
                  <input asp-for="FirstName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type first name" required="">
             <span asp-validation-for="FirstName" class="text-danger"></span>
              </div>
              <div class="w-full">
                  <label asp-for="LastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
                  <input asp-for="LastName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type last name" required="">
              <span asp-validation-for="FirstName" class="text-danger"></span>
              </div>
          
              <div class="w-full md:ml-10" style="margin-left:9.5rem">
                  <label asp-for="PhoneNumber" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone Number</label>
                  <input asp-for="PhoneNumber" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Phone number" required="">
              <span asp-validation-for="PhoneNumber" class="text-danger"></span>
              </div>
             
              
              
          </div>
          <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-indigo-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
              Confirm
          </button>
        </form>*@
        <!-- End Form -->
                 <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc4icEbOWB63OaACH6pxZCkXM62rxcupKCHFJVt5u2zuOUTRQ/viewform?embedded=true" width="640" height="625" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

        <!-- End SVG Element -->
      </div>

      
    </div>
  </div>
</div>
<!-- End Hero -->


<script>
    // Get the menu button and the menu element
const rsvpBtn = document.getElementById('rsvpbtn');
const rsvpmenuMenu = document.getElementById('rsvpmenu');

// Add a click event listener to the button
rsvpBtn.addEventListener('click', () => {
    // Toggle the visibility of the menu element
    rsvpmenuMenu.classList.toggle('hidden');
});
</script>




<script>
    // Get the menu button and the menu element
const rsvpBtn1 = document.getElementById('rsvpbtn1');
const rsvpmenuMenu1 = document.getElementById('rsvpmenu1');

// Add a click event listener to the button
rsvpBtn1.addEventListener('click', () => {
    // Toggle the visibility of the menu element
    rsvpmenuMenu1.classList.toggle('hidden');
});
</script>