
@{
    ViewData["Title"] = "_venueSection";
}

<section id="div31" class="relative pt-10 pb-10   sm:py-10 bg-no-repeat bg-cover " style="background-image: url(/Images/abstract1.jpg);">


<!-- CTA location section -->
<div  >
  


     <div class="mt-4 md:mt-0 text-center">
            <h2 class="mb-6 text-4xl sm:text-6xl font-bold text-gray-900 dark:text-white" style="font-family: 'Hedvig Letters Serif', serif;">Venue</h2>
            <p class="mb-4 font-light text-gray-500 md:text-lg dark:text-gray-400 text-center" style="font-family: 'Hedvig Letters Serif', serif;">DreamMaker (Former Jakarlo)</p>
             <p class="mb-4 font-light text-gray-500 md:text-lg dark:text-gray-400 text-center" style="font-family: 'Hedvig Letters Serif', serif;">Senegambia</p>
              <p class="mb-4 font-light text-gray-500 md:text-lg dark:text-gray-400 text-center" style="font-family: 'Hedvig Letters Serif', serif;">Friday, January 5th, 2024</p>
              <p class="mb-4 font-light text-gray-500 md:text-lg dark:text-gray-400 text-center" style="font-family: 'Hedvig Letters Serif', serif;">6:00 PM</p>
           
        </div>
</div>

</section>




<section id="div32" class="relative pt-10 pb-10   sm:py-10 bg-no-repeat bg-cover " style="background-image: url(/Images/Abstract-EditedFlip.jpg); height:350px;">


<!-- CTA location section -->
<div  >
  


     <div class="mt-4 md:mt-0 text-center">
            <h2 class="mb-6 text-4xl sm:text-6xl font-bold text-gray-900 dark:text-white" style="font-family: 'Hedvig Letters Serif', serif;">Venue</h2>
            <p class="mb-4 font-light text-gray-500 md:text-lg dark:text-gray-400 text-center" style="font-family: 'Hedvig Letters Serif', serif;">DreamMaker (Former Jakarlo)</p>
             <p class="mb-4 font-light text-gray-500 md:text-lg dark:text-gray-400 text-center" style="font-family: 'Hedvig Letters Serif', serif;">Senegambia</p>
              <p class="mb-4 font-light text-gray-500 md:text-lg dark:text-gray-400 text-center" style="font-family: 'Hedvig Letters Serif', serif;">Friday, January 5th, 2024</p>
              <p class="mb-4 font-light text-gray-500 md:text-lg dark:text-gray-400 text-center" style="font-family: 'Hedvig Letters Serif', serif;">6:00 PM</p>
           
        </div>
</div>

</section>