
@{
    ViewData["Title"] = "_videoSection";
}

<section id="div51" class="">
    
    <!-- video -->
<div class="relative overflow-hidden bg-no-repeat bg-cover " style="background-image: url(/Images/abstract1.jpg);">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10">
    

    <div class="mt-10 mb-10 relative max-w-5xl mx-auto">
              <video class="relative rounded-2xl   overflow-hidden shadow-xl w-full object-cover h-96 sm:h-[480px] bg-center bg-cover rounded-xl" autoplay controls>
  <source src="/Video/6DDC3B81-C680-4740-B5EF-BA7330664117_1.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

    

      <div class="absolute bottom-12 -start-20 -z-[1] w-48 h-48 bg-gradient-to-b from-orange-500 to-white p-px rounded-lg dark:to-slate-900">
        <div class="bg-white w-48 h-48 rounded-lg dark:bg-slate-900"></div>
      </div>

      <div class="absolute -top-12 -end-20 -z-[1] w-48 h-48 bg-gradient-to-t from-blue-600 to-cyan-400 p-px rounded-full">
        <div class="bg-white w-48 h-48 rounded-full dark:bg-slate-900"></div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero -->

</section>


<section id="div52" class="">
    
    <!-- video -->
<div class="relative overflow-hidden bg-no-repeat bg-cover " style="background-image: url(/Images/Abstract-EditedFlip.jpg);">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10">
    

    <div class="mt-10 mb-10 relative max-w-5xl mx-auto">
              <video class="relative rounded-2xl   overflow-hidden shadow-xl w-full object-cover h-96 sm:h-[480px] bg-center bg-cover rounded-xl" autoplay controls>
  <source src="/Video/6DDC3B81-C680-4740-B5EF-BA7330664117_1.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

    

      <div class="absolute bottom-12 -start-20 -z-[1] w-48 h-48 bg-gradient-to-b from-orange-500 to-white p-px rounded-lg dark:to-slate-900">
        <div class="bg-white w-48 h-48 rounded-lg dark:bg-slate-900"></div>
      </div>

      <div class="absolute -top-12 -end-20 -z-[1] w-48 h-48 bg-gradient-to-t from-blue-600 to-cyan-400 p-px rounded-full">
        <div class="bg-white w-48 h-48 rounded-full dark:bg-slate-900"></div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero -->

</section>


